<div class="container my-5 py-5">
    <div class="row">
        <div class="col-4">
            <!-- mb-3 mx-3 pb-4 -->
            <h1 class=" display-2"><strong>About Me</strong></h1>
        </div>

        <div class="col">
            <!--  pb-4 pt-4 -->
            <p class=" display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus tempor arcu, at bibendum sem mattis nec. Sed magna nisl, mollis quis est eget, dignissim lobortis lectus. Quisque pulvinar sem eu rhoncus bibendum. Cras bibendum, libero ut placerat commodo feugiat tortor. </p>
            <!-- btn btn-primary display-4 -->
            <button class="btn btn-secondary btn-lg mt-3" href="#">Download CV</button>
        </div>
    </div>
</div>
