<!-- https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Ffree-photos%2Fyellow&psig=AOvVaw1j71D47xm0yXa6UKyzB-Lm&ust=1705170525740000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCKCxxbO92IMDFQAAAAAdAAAAABAI -->

<div class="bg-image align-items-center justify-content-center d-flex" style="
    background-image: url(https://img.freepik.com/free-photo/top-view-statistics-presentation-with-arrow_23-2149023752.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1704844800&semt=ais); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    ">
    <!-- text-white -->
    <div class="text-white  text-center ">
        <h1 class="display-2">Hager Hamad</h1>
        <h4 class="display-4">Full-stack Web developer</h4>
        <button type="button" class="btn btn-outline-light border-white mt-5 btn-lg">Contact Me</button>
        <!-- rounded py-4 px-5 -->
    </div>
</div>